* {
    margin: 10px;
    align-self: center;
}

body {
     margin: 0;
    padding: 30px;
    font-family: Arial;
    font-size: 18px;
}

form {
    display: grid;
    grid-template-columns: 16% 34% 10% 40%;
}

h1 {
    grid-column: 1/5;
    font-size: 30px;
}

.eten {
    display: flex;
    grid-column: 4/5;
}

.tekstvak {
    width: 300px;
}

.omschrijving {
    grid-column: 1/2;
}

.geboortedatum {
    grid-column: 1/2;
}
#datum {
    grid-column: 2/3;
    width: 300px;
}
#date {
    grid-column: 1/2;
}

#textarea {
    grid-column: 1/2;
}

textarea {
    width: 300px;
    height: 100px;
}

#submitbutton {
    align-self: flex-end;
    width: 100px;
    height: 35px;
    background-color: limegreen;
}

#resetbutton {
    width: 100px;
    height: 35px;
    align-self: flex-end;
    background-color: indianred;
}

.button {
    grid-column: 4/5;
    display: flex;
    height: 100%;
}